hr {
	color: sienna;
	}
	
p {
	margin-left: 20px;
	}
body,td,th {
	font-family: Verdana;
	font-size: 14px;
	color: 1b7403;
	text-align: center;
}
	
body {
	background-image: url("imagens/patinhas_fundo.jpg");
	background-repeat: repeat;
	
	}
a:link    {color:green; background-color:transparent; text-decoration:none;}
a:visited {color:#0B3B0B; background-color:transparent; text-decoration:none;}
a:hover   {color:#81F781; background-color:transparent; text-decoration:underline;}
a:active  {color:#40FF00; background-color:transparent; text-decoration:underline;}
td{
	text-align:center;
	
}
#tudo{
	
	width: 760px;
	margin: 0 auto;
	text-align:left;
}
#login{
	top: 350px;
	width: ;
	margin: 0 auto;
	text-align: center;
	background-color:afd7a4 ;
	border: ;
	
}
#topo {
	position:absolute;
	left:10px;
	top:5px;
	/**/width:1330px;
	height:200px;/**/
	z-index:1;
	background-color: D0E6CC;
	text-align: right;
	
}
#foto{
	position:absolute;
	left:15px;
	top:10px;
	width: 170px;
	height: 170px;
	border: solid 1px;
	z-index: 2;
	
	
}
#menu {
	position:absolute;
	left:10px;
	top:202px;
	/**/width:1330px;/**/
	height:50px;
	z-index:3;
	background-image: url("imagens/menu3.jpg");
	background-repeat: repeat-x;
	color: 2BFF00;
}

#corpo {
	position:absolute;
	left:10px;
	top:252px;
	/**/width:1330px;
	height:660px;/**/
	z-index:4;
	text-align: justify;
	background-color: E7FEE2;
}

/*=== formatação do menu só com css ===*/

#menu .nav{
	margin:10px 0 0 150px;
	padding: 0px 5px;
	list-style:none;
}
#menu .nav li{
	float:left;
	width: 200px;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
#menu .nav li a {
	background:afd7a3;
	color: green;
	display:block;
	padding: 7px 8px;
	text-decoration:none;
	
	
}
#menu .nav li a:hover{
	color:#81F781;
}

/*=== submenus ===*/
#menu .nav ul {
	display: none;
	position: absolute;
	left: 0;
	list-style: none;
	padding: 0;
}
#menu .nav ul li {
	width: 150px;
	float: left;
}
#menu .nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: green;
	text-decoration: none;
	
}
#menu .nav ul a:hover{ color:#81F781; }

/*#menu .nav li:hover ul, .nav li.over ul{display:block;}
#menu .navi li ul li{
border:1px solid #c0c0c0; 
display:block; 
width:150px;
}
*/
#menu .nav li:hover ul {
	display:block;
}