/*Menus de passar o mouse em css*/

/*
.menu {
    list-style: none;
    border: 1px solid;
    float: left;
}*/
.menu li{
    position:relative;
    float:left;
    border-right:1 px solid;
}
.menu li a {
    color:green;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
.menu li a:hover{
    background: green;
    color:#40FF00;
    
}
.menu li ul{
    position: absolute;
    top:25px;
    left: 0;
    background-color: #ffffff;
    display: none;
}
.menu li:hover ul, .menu li.over ul{
    display: block;
}
.menu li ul li{
    border: 1px solid;
    display: block;
    width: 150px;
}
